
    $azul-escuro: #293A67;
    $cor-de-link: #9FB9F3;
    $azul-claro: #D2DEF6;
    $cinza-escuro: #4B4B4B;
    $cinza-claro: #AAAAAA;
    $royal1: #5E86E2;
    $gelo: #e1e1e1;

    @mixin fonte-padrao {
    font-family: 'Roboto', sans-serif;


    #title__bio {
        color: $azul-claro;
        padding: 0 auto;
        font-size: 3.28rem;
        font-weight: 800;

    }

    .title__subsection {
        color: $azul-claro;
        line-height: 1.5;
        font-size: 1.8rem;
        font-weight: 100;
        text-align: start;
    }

    .about__title {
        color: $cinza-escuro;
        font-weight: 800;
        font-size: 2rem;


    }

    .sub__titulo--skills {
        color: $azul-claro;
        font-weight: 800;
        font-size: 2rem;
    }

    .sub__titulo--formacao {
        color: $cinza-escuro;
        font-weight: 800;
        font-size: 2rem;

    }
    
    .sub__titulo--xp {
        color: $azul-claro;
        font-weight: 800;
        font-size: 2rem;

    }
    

    a {
        text-decoration: none;
        color: $cor-de-link;        

    }

    // p {
    //     font-size: 1rem;
    //     color: $azul-claro;
    // }
}
 body {
    @include fonte-padrao();
    background-color: $azul-escuro;
     margin: 0;
     transition: all 300ms ease-in-out;

 }
 ol, ul,li {
     list-style: none;
 }
 
 /*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
 de utiliza-la. 
 
 Mas o que é o BEM?
 
 BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
 web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
 Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
 de usuário complexa, e permite a reutilização de código existente sem copiar e colar.
 
 Link da documentação oficial!
 https://en.bem.info/methodology/quick-start/*/
 
 /*Sessão Menu*/



 section.menu {

    header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    background-color: $cinza-escuro;
    height: 8rem;
    }

    // #btn-mobile {
    //     display: none;
    // }

    a {
        display: block;
        padding: 0.5rem;
    }

    #logo {
        height: 40px;
        align-self: center;
        margin-left: 8rem;
    }

    #menu__list {
        display: flex;
        gap: 60px;

    }

    .menu__list__item {
        padding: 10px;
        
    }
   


     li:hover {
        background-color: $azul-claro;
        padding: 10px;
        border-style: none;
        box-shadow:0px 0px 0px 0px inset;

    }

 }


 
 /*Sessão Title*/
 
 section.title {
    background-color: #4B4B4B;

    .title__div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 8rem 0 8rem;
        


    }

    .container p span.typed-text {
        color: $royal1;
        padding: 0 auto;
        font-size: 3.28rem;
        font-weight: 800;
        
      }
      .container p span.cursor {
        
        display: inline-block;
        background-color: $royal1;
        margin-left: 0.1rem;
        animation: blink 1s infinite;
      }
      .container p span.cursor.typing {
        
        animation: none;
      }
      @keyframes blink {
        0%  { background-color: $azul-claro; }
        49% { background-color: $azul-claro; }
        50% { background-color: transparent; }
        99% { background-color: transparent; }
        100%  { background-color:$azul-claro; }
      }

    color: $azul-claro;
    padding: 0 auto;
    font-size: 3.28rem;
    font-weight: 800;
      

    .profile__img img {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    ul {
        font-size: 1.3rem;
        padding-left: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 90%;
        
    }
 }

 
 /*Sessão About*/
 
 section.about{
    background-color: $azul-claro;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    


    .about__container {
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        margin: 2rem 8rem 2rem 8rem;
        width: 50%;


    }

    .about__title {
        justify-content: center;
        margin: 0;

    }

    .about__paragraph {
        align-items: flex-end;
        color: $cinza-escuro;
        flex-direction: column;
        font-weight: 300;
        text-align: justify;
    }

    .innovation img {
        display: flex;
        justify-content: flex-end;
        width: 75%;
        padding: 0;
        margin-right: 8rem;
    }

 }


/* skills*/

section.skills {
    display: flex;
    flex-direction: column;
    background-color: $cinza-escuro;
    margin: 0;

    
    

    .sub__titulo--skills {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 2rem 8rem 2rem 8rem;

    }

    .skills__line {
        justify-content: center;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 8rem 0 8rem;
    }

    .skills__box {
        background-color: $cinza-claro;
        display: flex;
        width: 160px;
        height: 160px;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-items: center;
        text-align: center;
        margin: 2rem 2rem 2rem 0;

    }

    .skills__name ul {
        display: flex;
        align-content: flex-end;
        text-align: center;
    }

    img {
        width: 20%;
    }

}
 /* Experiência Acadêmica*/
 
 section.academic{
    display: flex;
    flex-direction: column;
    background-color: $azul-claro;
    margin: 0;
    
    .sub__titulo--formacao {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 2rem 8rem 2rem 8rem;

    }

    .academic__courses {
        justify-content: center;

        display: flex;
        flex-wrap: wrap;
        margin: 0 8rem 0 8rem;

    }

    .academic__courses__box {

        display: flex;

        justify-items: flex-start;
        margin: 2rem 5.2rem 2rem 0;

    }

    .academic__courses__desc {
        align-items: flex-end;
        color: $cinza-escuro;

    }



    .academic__courses__list {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        
        .academic__courses__item__img {
            display: flex;
            justify-content: center;
            background-color: $cinza-escuro;
            width: 220px;
            height: 150px;
    
        }
        
        p {
            margin: 0;
        }
    }
 }
 
 
 /* experiência*/
 
 section.experience{
    margin: 2rem 8rem;

    .sub__titulo--xp {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 2rem 8rem 2rem 8rem;
    }

    .experience__box {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        margin: 4rem 8rem 4rem 8rem;
        justify-content: space-around;

    }

    .experience__img {
        display: flex;
        flex-direction: column;
        background-color: #f76d6d;
        height: 300px;
        width: 600px;

    }

    .experience__info {
        display: flex;
        flex-direction: column;
        width: 35%;
        

    }

    .experience__title {
        font-weight: 1000;
        font-size: 1.8rem;
        color: $royal1;
        margin: 0;
    }

    .experience__text {
        font-weight: 400;
        color: $azul-claro;
        line-height: 1.5;
    }

    .experiencia__botao--repo {
        color: $royal1;
        background: none;
        border-style: none;
        box-sizing: border-box;
        box-shadow:0px 0px 0px 1px $royal1 inset;
        padding: 1rem;
        margin-right: 1rem;
        cursor: pointer;
        transition: all 300ms ease-in-out;
    }

    .experiencia__botao--demo {
        color: $azul-claro;
        background-color: $royal1;
        border-style: none;
        padding: 1rem;
        cursor: pointer;
        transition: all 300ms ease-in-out;
    }

    .experiencia__botao--demo:hover {
        color: $cinza-escuro;
        background-color: $azul-claro;
    }

    .experiencia__botao--repo:hover {
        box-shadow:0px 0px 0px 0px inset;
        background-color: $azul-claro;
        color: $cinza-escuro;
        border-style: none;

    }
 
 }


// teste btn hidden
//  section.container {

//  #btn-vermais {
//     font-size: 1.5rem;;
//     border-style: none;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     background: none;
//     color: $royal1;
//     cursor: pointer;

//     }
 
 /*Contato*/
 
 section.formcontato {
    display: flex;
    justify-content: center;
    background-color: $azul-claro;
    margin: 0;



    .formcontato__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 35%;
        margin: 0 6rem;
        
    }

    .sub__titulo {
        font-size: 3rem;
        color: $royal1;
        margin-bottom: 1rem;
    }

    .formcontato__subtext {
        color: $cinza-escuro;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        margin: 0 0 2rem 0;
    }

    .formcontato__form {
         
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1.1rem;
    }

    div.formcontato__input {
        position: relative;
        height: 2rem;
        border: none 0;
        margin-bottom: 24px;
        padding: 0.5rem;
        width: 100%;
    }

    input,
button {
    /* reset appeareance */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    padding: 10px 0;
    border:none;
    border-bottom: 2px solid $royal1;
    background-color: transparent;
    outline: none;
    color: $azul-escuro;
    font-size: 1em;

    }

    input ~ label {
        
        position: absolute;
        bottom: 40px;
        left: 0;
        color: $royal1;
        transition: .4s;
    }
    // remove o fundo do autocomplete
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}


    input:focus ~ label,
    input:valid ~ label,
    input:focus-within ~ label
     {
        background-color: transparent;
        font-weight: 500;
        transform: none;
        font-size: 1rem;
        letter-spacing: 0.1em;
    }

    span.error {
        display: flex;
    }
    
    span.error.active {
       margin-top: 0.5rem;
       color: $cinza-claro;
       font-size: 0.8rem;
    }


    .formcontato__textarea {
        box-shadow: none;
        border: none 0;
        line-height: 1.5em;
        padding: 1rem;
        width: 100%;
        resize: none;
        font-family: 'Lato';
    }

    textarea:focus, input:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }


    .formcontato__botao {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        color: $azul-claro;
        background-color: $cinza-claro;
        border-style: none;
        padding: 1rem;
        cursor: pointer;
        transition: all 300ms ease-in-out;
        width: 35%;
    }

    .formcontato__botao:valid {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        color: $azul-claro;
        background-color: $royal1;
        border-style: none;
        padding: 1rem;
        cursor: pointer;
        transition: all 300ms ease-in-out;
        width: 35%;
    }

    .formcontato__botao:disabled {
        background-color: $cinza-claro;
        cursor: default;
    }

}
 /*footeer*/
 
 section.footer{

    .footer__rodape {
        text-align: center;
        color: $cinza-claro;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $cinza-escuro;
        line-height: 2rem;
    }

    p {
        margin: 1rem 0 1rem;
    }
 }
 
 /* Chegou a hora de se desafiar com a responsividade, 
 utilize como referência os breakpoints @media abaixo*/
 
 /*Mobile*/
 @media only screen and (max-width: 600px) {
    
 /*Menu*/

    section.menu #logo {
        margin: 2rem;
    }

    #menu__list {
        display: block;
        position: absolute;
        flex-direction: column;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu__list {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
      }

      #btn-mobile {
        color: $cinza-claro;
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
      }
      #hamburger {
        border-top: 2px solid;
        border-color: $cinza-claro;
        width: 20px;
   
      }
      #hamburger::after,
      #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: $cinza-claro;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
      }
      #nav.active #hamburger {
        border-top-color: transparent;
      }
      #nav.active #hamburger::before {
        transform: rotate(135deg);
      }
      #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
      }
      
 /*Titulo*/
 

  section.title {
    display: flex;
    justify-content: center;
  } 
  section.title .container {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
  }

  section.title .profile__img img {
    display: none;
  }

  section.title .container p span.typed-text {
    font-size: 1.5rem;
  }

  section.title .title__div {
    width: 100%;
    margin: 0 2rem 0 2rem;
  }
  section.title .title__subsection {
    font-size: 1rem;
    width: 100%;
  }

  section.title ul.title__network{
    display: flex;
    font-size: 0.5rem;
    gap: 2rem;
  }

  section.title .title__network__item svg {
    display: flex;
    flex-direction: column;
    width: 20%;
  }

 /*Sessão sobre*/

  section.about .about__title {
    font-size: 1.5rem;
  }
 
  section.about .innovation {
    display: none;
  }

  section.about .about__container {
    width: 100%;
    margin: 2rem;
    text-align: center;

  }

  section.about .about__paragraph {
    text-align: start;
    line-height: 1rem;
    margin-bottom: 0.5rem;
}
 /*Skills*/

 section.skills {
    display: flex;
    align-items: center
 }

 section.skills .sub__titulo--skills {
    font-size: 1.5rem;
 }

 section.skills .skills__box {
    width: 64px;
    height: 64px;
    margin: 0 0.5rem 2rem 0.5rem;
 }


 section.skills .skills__line {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

 }

 /*Formação Acadêmica*/

 section.academic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

 }
 

 section.academic .sub__titulo--formacao {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
 }

 section.academic .academic__courses {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 2rem;
    flex-wrap: wrap;
    width: 300px;
 }

 section.academic .academic__courses__list {
    display: flex;
    justify-content: center;


 }

 section.academic .academic__courses__list h4, p {
    font-size: 0.8rem;
 }

 section.academic .academic__courses__list .academic__courses__item__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 64px;
 }

 section.academic .academic__courses__list .academic__courses__item__img img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 24px;
 }

 section.academic .academic__courses__box {
    display: flex;
    justify-content: center;
    margin: 0 1.5rem 1.5rem 1.5rem;
    width: 100px;
    padding: 0;
    
 }

 /*Experiência Profissional*/

 section.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
 }

 section.experience #xp {
    margin-bottom: 6rem;
 }

 section.experience .sub__titulo--xp {
    font-size: 1.5rem;
    width: 100%;
    
 }

 section.experience .experience__img {
    display: flex;
    height: 150px;
    width: 100%;
 }

 section.experience .experience__box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem 2rem 1rem 2rem;

    

 }

 section.experience .experience__title {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    
 }

 section.experience .experience__text {
    font-size: 1rem;
 }

 section.experience .experience__repo button {
    width: 40%;
    font-size: 0.5rem;
 }

 section.experience .experience__demo button {
    width: 40%;
    font-size: 0.5rem;
 }

 section.experience .experience__info {
    width: 100%;
    margin-bottom: 1rem;
    justify-content: flex-start;
 }
  /*Contato*/
 
 /*Footer*/
 }